<!DOCTYPE html>
<html lang="en">
{% load static %}

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script>

    <title>Form 1</title>
</head>

<body>
    <div class="container-fluid">
        <div class="row bg-success ">
            <div class="col-md-3 text-center ">
                <img src="{% static 'images/100system.png' %}" width="70" height="45">
            </div>
            <div class="col-md-6 ">
                <h2>Dial 100 System , Madhya Pradesh</h2>
            </div>
        </div>
    </div>
    <div class="container">
        <!-- Popup -->
        {% if messages %}
        <div class="messages">
            {% for message in messages %}
            <div {% if message.tags %} class="{{ message.tags }}" {% endif %}>{{ message }}
                <button type="button" class="close" onclick="this.parentElement.style.display = 'none';"
                    data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            {% endfor %}
        </div>
        {% endif %}

        <div class="row p-2  ">
            <div class="col-12 text-center">
                <h1>Contact details</h1>
            </div>

            <div class="col-md ">
                <p>USER ID:- XXXXXXXX | USER NAME:- {{user}}</p>
            </div>
            <div class="col-md">
                <p>Date and Time:- <span id="dateTime"></span></p>
                <script>
                    function time() {
                        d = new Date();
                        document.getElementById('dateTime').innerHTML = `${d.toLocaleDateString('en-US')} ${d.toLocaleTimeString()}`;
                    }
                    time();
                    window.setInterval(time, 1000);
                </script>
            </div>
        </div>

        <form action=" " method="POST">
            {% csrf_token %}
            <div class="row">
                <div class="col-md">
                    <div class="form-group" id="name-div">
                        <label>Dialer Name:-</label>
                        <input type="text" class="form-control" name='Dialer_Name' id="Dialer_Name">
                    </div>

                    <div class="form-group" id="phone-div">
                        <label for="Phone_Number">Phone Number-</label>
                        <input type="text" name="Phone_Number" class="form-control" id="Phone_Number">
                    </div>

                    <div class="form-group">
                        <label for="Incident_Type">Incident Type </label>
                        <select class="form-control" name='Incident_Type' id="Incident_Type">
                            <option selected disabled>Select incident Type</option>
                            <option value="accident">Accident</option>
                            <option value="kidnapping">Kidnapping</option>
                            <option value="fire">Fire</option>
                            <option value="robbery">Robbery</option>
                            <option value="health">Health Problem</option>
                            <option value="others">Others</option>
                        </select>
                    </div>
                    <div class="form-group" id='calldes-div'>
                        <label>Describe call :-</label>
                        <textarea type="text" class="form-control" name='Describe_call' id="Describe_call" rows="3"
                            cols="30" placeholder="Describe call here"></textarea>
                    </div>

                </div>




                <div class="col-md">
                    <div class="form-group" id='adress-div'>

                        <div class="form-group ">
                            <label for="Incident_Address">Incident Address :-</label>
                            <input type="text" class="form-control" id="Incident_Address" name='Incident_Address' />
                        </div>
                        <div class="row">
                            <div class="col-md form-group ">
                                <label for="City">City</label>
                                <input class="form-control" id="City" name="City">
                            </div>
                            <div class="col-md form-group ">
                                <label for="District">District</label>
                                <input class="form-control" id="District" name="District">
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md form-group ">
                                <label for="State">State</label>
                                <input class="form-control" id="State" name="State">
                            </div>
                            <div class="col-md form-group">
                                <label for="Country">Country</label>
                                <input class="form-control" id="Country" name="Country">
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="Pin_Code">Pin Code</label>
                            <input class="form-control" id="Pin_Code" name="Pin_Code">
                        </div>
                    </div>
                </div>
            </div>
            <div class="row text-center">
                <div class="col p2">
                    <button type="submit" class="form-group col-2 btn btn-primary">Submit</button>
                </div>
            </div>
        </form>
    </div>
    <script>
        let autocomplete;
        let address1Field;
        let postalField;

        function initAutocomplete() {
            address1Field = document.querySelector("#Incident_Address");
            postalField = document.querySelector("#Pin_Code");
            // Create the autocomplete object, restricting the search predictions to
            // addresses in the US and Canada.
            autocomplete = new google.maps.places.Autocomplete(address1Field, {
                componentRestrictions: { country: ["in"] },
                fields: ["address_components", "formatted_address"],
            });
            //address1Field.focus();
            // When the user selects an address from the drop-down, populate the
            // address fields in the form.
            autocomplete.addListener("place_changed", fillInAddress);
        }

        function fillInAddress() {
            // Get the place details from the autocomplete object.
            const place = autocomplete.getPlace();
            let postcode = "";

            // Get each component of the address from the place details,
            // and then fill-in the corresponding field on the form.
            // place.address_components are google.maps.GeocoderAddressComponent objects
            // which are documented at http://goo.gle/3l5i5Mr
            for (const component of place.address_components) {
                // @ts-ignore remove once typings fixed
                const componentType = component.types[0];

                switch (componentType) {
                    case "postal_code": {
                        postcode = `${component.long_name}${postcode}`;
                        break;
                    }

                    case "postal_code_suffix": {
                        postcode = `${postcode}-${component.long_name}`;
                        break;
                    }

                    case "locality": {
                        document.querySelector("#City").value = component.long_name;
                        break;
                    }

                    case 'administrative_area_level_2': {
                        document.querySelector("#District").value = component.long_name;
                    }

                    case "administrative_area_level_1": {
                        document.querySelector("#State").value = component.short_name;
                        break;
                    }
                    case "country":
                        document.querySelector("#Country").value = component.long_name;
                        break;
                }
            }

            postalField.value = postcode;
            // After filling the form with address components from the Autocomplete
            // prediction, set cursor focus on the second address line to encourage
            // entry of subpremise information such as apartment, unit, or floor number.
        }

        window.initAutocomplete = initAutocomplete;
    </script>

    <script
        src="https://maps.googleapis.com/maps/api/js?key={{MAPS_API_KEY}}&callback=initAutocomplete&libraries=places&v=weekly"
        defer></script>
</body>

</html>