<!DOCTYPE html>
<html lang="en">
{% load static %}

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script>

    <title>Form 1</title>
</head>

<body>
    <div class="bg-success ">
        <div class="row ">
            <div class="col-md-3 text-center ">
                <img src="{% static '100system.png' %}" width="70" height="45">
            </div>
            <div class="col-md-6 ">
                <h2>Dial 100 System , Madhya Pradesh</h2>
            </div>
        </div>

    </div>

    <!-- Popup -->
    {% if messages %}
    <div class="messages">
        {% for message in messages %}
        <div {% if message.tags %} class="{{ message.tags }}" {% endif %}>{{ message }}
            <button type="button" class="close" onclick="this.parentElement.style.display = 'none';" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        {% endfor %}
    </div>
    {% endif %}

    <form action=" " method="POST">
        {% csrf_token %}
        <div class="row p-5  ">
            <div class="col-md ">
                <div class="form-group col-8">
                    <h1>Contact details</h1>
                    <p>USER ID:- XXXXXXXX</p>
                    <p>USER NAME:- ABS DEF GHI</p>
                    <div class="row form-group col-8">
                        <p>Date and Time:- <span id="dateTime"></span></p>
                        <script>
                            function time() {
                                d = new Date();
                                document.getElementById('dateTime').innerHTML = `${d.toLocaleDateString('en-US')} ${d.toLocaleTimeString()}`;
                            }
                            time();
                            window.setInterval(time, 1000);
                        </script>
                    </div>


                </div>
                <div class="form-group col-8" id="name-div">
                    <label>Dialer Name:-</label>
                    <input type="text" class="form-control" name='Dialer_Name' id="Dialer_Name" required>
                </div>
                <div class="form-group col-8" id="address-div">
                    <label>Dialer Address:-</label>
                    <input type="text" name='Dialer_Address' class="form-control" id="Dialer_Address" required>
                </div>

                <div class="form-group col-6">
                    <label for="Incident_Type">Incident Type </label>
                    <select class="form-control" name='Incident_Type' id="Incident_Type" required>
                        <option selected disabled>Select incident Type</option>
                        <option value="accident">Accident</option>
                        <option value="kidnapping">Kidnapping</option>
                        <option value="fire">Fire</option>
                        <option value="robbery">Robbery</option>
                        <option value="health">Health Problem</option>
                        <option value="others">Others</option>
                    </select>
                </div>
                <div class="form-group col-8" id='calldes-div'>
                    <label>Describe call :-</label>
                    <textarea type="text" class="form-control" name='Describe_call' id="Describe_call" rows="3"
                        cols="30" placeholder="Describe call here"></textarea>
                </div>



                <div>
                    <button type="submit" class="form-group col-7 btn btn-primary">Next</button>
                </div>

            </div>




            <div class="col-md">

                <div class="form-group col-6" id="phone-div">
                    <label for="Phone_Number">Phone Number-</label>
                    <input type="text" name="Phone_Number" class="form-control" id="Phone_Number" required>
                </div>
                <div class="form-group col-6" id='adress-div'>
                    <label for="Incident_Address">Incident Address :-</label>
                    <input type="text" class="form-control" id="Incident_Address" name='Incident_Address' />
                    <div class="form-group ">
                        <label for="Division">Division</label>
                        <select class="form-control" id="Division" name="Division" required>
                            <option selected disabled> Select Division</option>
                            <option> Chambal division</option>
                            <option> Gwalior division</option>
                            <option> Bhopal division</option>
                            <option> Ujjain division</option>
                            <option> Indore division</option>
                            <option> Narmadapuram division</option>
                            <option> Sagar division</option>
                            <option> Rewa division</option>
                            <option> Shahdol division</option>
                            <option> Jabalpur division</option>
                            </option>
                        </select>
                    </div>
                    <div class="form-group ">
                        <label for="District">District </label>
                        <select class="form-control" id="District" name="District" required>
                            <option selected disabled>Name of District</option>
                            <option>Agar Malwa</option>
                            <option>Alirajpur</option>
                            <option>Anuppur</option>
                            <option>Ashoknagar</option>
                            <option>Balaghat</option>
                            <option>Barwan</option>
                            <option>Betul</option>
                            <option>Bhind</option>
                            <option>Bhopal</option>
                            <option>Burhanpur</option>
                            <option>Chhatarpur</option>
                            <option>Chhindwara</option>
                            <option>Damoh</option>
                            <option>Datia</option>
                            <option>Dewas</option>
                            <option>Dhar</option>
                            <option>Dindori</option>
                            <option>East Nimar</option>
                            <option>Guna</option>
                            <option>Gwalior</option>
                            <option>Harda</option>
                            <option>Hoshangabad</option>
                            <option>Indore</option>
                            <option>Jabalpur</option>
                            <option>Jhabua</option>
                            <option>Katni</option>
                            <option>Mandla</option>
                            <option>Mandsaur</option>
                            <option>Morena</option>
                            <option>Narsinghpur</option>
                            <option>Neemuch</option>
                            <option>Niwari</option>
                            <option>Panna</option>
                            <option>Raisen</option>
                            <option>Rajgarh</option>
                            <option>Ratlam</option>
                            <option>Rewa</option>
                            <option>Sagar</option>
                            <option>Satna</option>
                            <option>Sehore</option>
                            <option>Seoni</option>
                            <option>Shahdol</option>
                            <option>Shajapur</option>
                            <option>Sheopur</option>
                            <option>Shivpuri</option>
                            <option>Sidhi</option>
                            <option>Singrauli</option>
                            <option>Tikamgarh</option>
                            <option>Ujjain</option>
                            <option>Umaria</option>
                            <option>Vidisha</option>
                            <option>West Nimar</option>
                        </select>
                    </div>

                    <div class="form-group">
                        <label for="Pin_Code">Pin Code</label>
                        <select class="form-control" id="Pin_Code" name="Pin_Code">
                            <option selected disabled> select pin</option>
                            <option>1111111</option>
                            <option>1111111</option>
                            <option>1111111</option>
                            <option>1111111</option>
                            <option>1111111</option>
                            <option>1111111</option>
                            <option>1111111</option>
                            <option>1111111</option>
                        </select>
                    </div>

                </div>
                <button type="submit" class="form-group col-7 btn btn-primary">Submit</button>
            </div>
        </div>
    </form>
</body>

</html>